body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
     padding: 0 100px;
     width: 100%;
     height: 80px;
     box-sizing: border-box;
     background: rgba(255, 255, 255, .2);
     box-shadow: 0 5px 15px rgba(0, 0, 0, .2);

}
.image{
    width:100px;
    height: 90px;
    border-radius: 50%;

}
.toggle{
    display: block;
    position: absolute;
    right: 10px;
    top: 26px;
    background: #000;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}
.active{
    position: relative;
    margin: 0;
    padding:0;
    display: flex;
    float: right;
    transition: .5s;
}
.active li{
    list-style: none;

}
.active li a{
    position: relative;
    display: block;
    padding: 10px 20px;
    margin: 20px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #262626;
    font-weight: bold;
    transition: .5s;

}
.active li a:hover{
    background: #000;
    color: #fff;
}
@media (max-width: 992px){
    header{
        padding: 0 0px;
        background: rgba(255, 255, 255, .5)
    }
    header .active{
        width: 100%;
        top: -4px;
        display: none;
    }
    header ul .active{
        display: block;

    }

    header .active li a{
        margin: 0;
        display: block;
        text-align: center;
        color: #ffff;
        background: rgba(0, 0, 0, .5);
    }

}
i {
    border:  solid black;
    border-width: 0 5px 5px 0;
    border-radius: 5px;
    display: inline-block;
    padding: 15px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-top: 170px;
    margin-left: -55px;

    
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 92%;
    position: relative;
    bottom: 5px;
    left: 10%;
    
}
#showcase{
    background-image: url('mixology.jpg');
    height: 70vh;
    background-size: cover;
    background-position: center;
    

}
.topic{
   font-family:  'Times New Roman', Times, serif;
   font-size: 20px;
   text-align: center;
   
}
.text{
    font-family: Arial, 'Helvetica', sans-serif;
    font-size: 16px;
    letter-spacing: 1;
    line-height: 1.5;
}
.apply{
    text-align: center;
    padding-bottom: 30px;
}
    
.apply .button{
text-decoration: none;
font-size: 18px;
text-decoration: none;
color: rgb(68,68,68);
border: rgb(68,68,68) 1px solid;
padding: 10px 10px;
border-radius: 10px;
margin-top: 10px;  
  

}
.apply .button:hover{
    background: rgb(68,68,68);
    color: #fff;
    
}
.list{
    font-family: Arial, 'Helvetica', sans-serif;
    font-size: 18px;
    letter-spacing: 1;
    line-height: 1.5;
}
#phrase{
    font-family: Arial, 'Helvetica', sans-serif;
    font-size: 16px;
    font-style: italic;
    padding-bottom: 30px;
}